<div class="up-container">
    <div id="box1">
            <div id="div1">
                <img id="imglogo" src="../assets/Logo-consultec.svg" width="140px" height="50px">
                <h2 id="aside-text">Te damos la bienvenida al portal Personal Banking</h2>
                <br>
                <p id="aside-text-down">{{messageblue1}}</p>
                <a id="create-key-text" href="#">{{messageblue2}}</a>
            </div> 
    </div>
    <div id="box2">
        <div id="div2">
            <p id="aside-text-up-box2">{{messageblack1}}</p>
            <a id="register-now" href="#">{{messageblack2}}</a>
        </div>
    </div>
</div>